html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1{
  text-align: center;
  color: darkblue
}
p{
  text-align: center;
  color: darkblue
}

thead {
  text-align: center;
  color: gray;
}

td {
  text-align: center;
  color: blue;
}
.jumbotron{
  background-image: url("https://ak7.picdn.net/shutterstock/videos/287197/thumb/1.jpg");
  color: white;
}

header {
  background-image: url("https://i.makeagif.com/media/11-12-2015/hqzKhq.gif");
}

footer {
  background-image: url("https://i.makeagif.com/media/11-12-2015/hqzKhq.gif");
  color: aliceblue;
}

i{
  color: white;
}

p{
  color: aliceblue;
}

main{
  color: blue;
}


}
  table, td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }

  body {
    font-family: sans-serif;
    background-image: url("https://images.unsplash.com/photo-1510674485131-dc88d96369b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b3ffc0f0b88971b0e4b8aca6121c29d8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    color: black
  }
  #results { margin-top: 50px; }

  input {
    width: 50%;
    height: 36px;
    font-size: 24px;
  }

  #addcomment{
    margin: 10px;
  }

  form {
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}